

<div *ngIf="!this.isLoggedIn()" class = "card">
  <h1>Log in to view Campsites</h1>
</div>

<div *ngIf="this.isLoggedIn() && !this.isAdmin() && campsite" class = "card">
  <div class = "horizontal-display">
    <h2 class = "text-block campsite-name"> {{campsite.name}}</h2>
    <h2 class = "text-block">${{campsite.rate}} / night  </h2>
  </div>
  <div 
    *ngIf="errorMessage!=''"
    class = "alert">
    {{errorMessage}}
  </div>


    <input type="Date" #StartDate>
    <input type="Date" #EndDate>
  <div>
    <!-- calling to createReservvation once this button is pressed-->
    <button class="make-reservation-button"  type="button"(click)="createReservation(StartDate.value, EndDate.value, campsite)">Make Reservation</button>
  </div>
</div>


  <div *ngIf="this.isAdmin() && campsite" class = "card">
      <h2>{{campsite.name}} Details</h2>
      <div 
      *ngIf="errorMessage!=''"
      class = "alert">
      {{errorMessage}}
    </div>
      <div>
        <input id="Campsite-name" [(ngModel)]="campsite.name" placeholder="Campsite name"/>
        <input id="Campsite-rate" [(ngModel)]="campsite.rate" placeholder="Campsite Rate">
        <input id="Campsite-coords" [(ngModel)]="campsite.x" placeholder="Campsite X Location">
        <input id="Campsite-coords" [(ngModel)]="campsite.y" placeholder="Campsite Y Location">

        <button type="Button" (click)="editProduct()">Save Changes</button>
        <button type="button" (click)="deleteProduct(campsite)"delete>Delete</button>
        <!-- <button type="button" (click)="editProduct()">save</button> -->
      </div>
  </div>


