
.products{
    max-width: 350px;
    padding: 72px 54px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    row-gap: 20px;
    display: flexbox;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 5px 10px 5px #E6EAE6;
}
.page-title {
    text-align: center;
}

.campsite-map {
    margin-top: 20px;
}

.card {
    margin-top: 16px;
    align-items: center;

    padding: 36px 32px;
}

.search-card {
    padding: 0px;
    overflow: hidden;
}
.search-card-element {
    padding: 36px 32px;
}

.buttons{
    margin-top: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    
}

.edit-input {
    margin-top: 10px;
}

button {
    margin-top:30px;
}

.horizontal-display {
    display: flex;
    justify-content: space-between;
}

.button-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.side-by-side-button {
    width: calc(50% - 5px);
    margin-top: 0px;
}

.text-block {
    display: inline;
    font-size: 24px;
}

.campsite-name {
    max-width: 65%;
}

.detail-text {
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
}

.make-reservation-button {
    margin-top: 30px;
}
  
.align-lower {
    padding-bottom: 20px;
}
