

<div class="card search-card">

  <div class = "search-card-element">
    <h2 class = "page-title"> Browse Campsites</h2>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  </div>
    <li *ngFor="let product of products$ | async">
      <button class = "list-element" *ngIf="!this.isAdmin()" [class.selected]="product === selectedProduct" type="button" (click)="onSelect(product)">
        <span class="name">{{product.name}}</span>
      </button>
      <button class = "list-element" *ngIf="this.isAdmin()" [class.selected]="product === selectedProduct" type="button" (click)="onSelectAdmin(product)">
        <span class="name">{{product.name}}</span>
      </button>
    </li>
  <div>

  </div>

</div>

<div *ngIf="selectedProduct && this.isLoggedIn()" class = "card">
  <div *ngIf="this.isLoggedIn() && !this.isAdmin()">
    <h2>{{selectedProduct.name | uppercase}} Details</h2>
    <div 
    *ngIf="errorMessage!=''"
    class = "alert">
    {{errorMessage}}
  </div>
    <div>id: {{selectedProduct.id}}</div>
  
    <div>
      <label for="product-name">Campsite name: </label>
      <span class ="rate">{{selectedProduct.name}}</span>
    </div>
    <div>
      <label for="product-rate">Campsite rate: </label>
      <span class ="rate">${{selectedProduct.rate}}/Night</span>
    </div>

    <div>
      <label for="reservation-start">Start Date:</label>
      <input type="Date" #StartDate>
    </div>
    <div>
      <label for="reservation-end">End Date:</label>
      <input type="Date" #EndDate>
    </div>
    <div>
      <!-- calling to createReservvation once this button is pressed-->
      <button type="button"(click)="createReservation(StartDate.value, EndDate.value, selectedProduct)">Make Reservation</button>
    </div>
  </div>

  <div *ngIf="this.isAdmin()" class = "card">
      <h2>{{selectedProduct.name | uppercase}} Details</h2>
      <div 
      *ngIf="errorMessage!=''"
      class = "alert">
      {{errorMessage}}
    </div>
      <div><span>id: </span>{{selectedProduct.id}}</div>
      <div>
        <label for="Campsite-name">Campsite name: </label>
        <input id="Campsite-name" [(ngModel)]="selectedProduct.name" placeholder="Campsite name"/>
        <input id="Campsite-rate" [(ngModel)]="selectedProduct.rate" placeholder="Campsite Rate">
        <button type="Button" (click)="editProduct()">Save Changes</button>
        <button type="button" (click)="deleteProduct(selectedProduct)"delete>Delete</button>
        <!-- <button type="button" (click)="editProduct()">save</button> -->
      </div>
  </div>

</div>


<div *ngIf="this.isAdmin()" class = "card">
  <h2>Create New Product</h2>
    <div>
          <div 
            *ngIf="errorMessage!=''"
            class = "alert">
            {{errorMessage}}
          </div>
    <input id="Campsite-name" #NewCampsiteName placeholder="Campsite name"/>
    <input id="Campsite-rate" #NewCampsiteRate placeholder="Campsite Rate">
    <button type="Button" (click)="createProduct(NewCampsiteName.value, NewCampsiteRate.value)">Create New Campsite</button>
  </div>
</div>
