
.search-card {
    padding: 0px;
    overflow: hidden;
}
.search-card-element {
    padding: 36px 32px;
}

.campsite-map {
    margin-top: 10px;
}

.make-campsite-button {
    margin-top: 40px;
}

.edit-input {
    margin-top: 10px;
}
