<div class="container">
    <img class = "background-image" src="../assets/background-image.jpg">
    <div class="background-overlay-dark"></div>
    <div class="background-overlay"></div>
    <div class="over-image-container">
        <h2 class="main-text">Your next adventure</h2> 
        
        <button *ngIf="this.isLoggedIn()" class="main-button" routerLink="/browse">Get Started</button>
        <button *ngIf="!this.isLoggedIn()" class="main-button" routerLink="/login">Get Started</button>
    </div>
</div>