.background-image {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

.background-overlay {
    width: 100%;
    height:30%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom, rgba(236,229,212,1), rgba(236,229,212,0));
}

.container {
    position:relative;
    height: calc(100vh  );
}

.error-text{
    font-size: 150px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}

.main-text{
    font-size: 72px;
    font-weight: bold;
    line-height: 72px;
    text-align: center;
}

.main-button {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    padding: 30px;
 }

 .over-image-container {
     position: absolute;
     top: 40vh;
     left: 50%;
     transform: translate(-50%, -50%);
     max-width: 350px;
 }