<div class='campsite-map' id="campsiteMap" (click)="selectCampsiteLocation($event)">
    <li *ngFor="let product of products$ | async">
        <div class="image1" [ngStyle]="{'left.%': product.x / 5, 'top.%': product.y / 5 }"
            routerLink="/detail/{{product.id}}" title="Campsite Name: {{product.name}} Click more for details" >
        </div>
    </li>

    <span *ngIf="this.isAdmin()">
        <div class="possibleimage" id="possibleimage" [ngStyle]="{'left.%': campsite.x / 5, 'top.%': campsite.y / 5}"
            title="Campsite Name: {{campsite.name}} Click for more details" >
        </div>
    </span>
</div>

<!--
            <img class ='fit-map' src="../assets/campsite-map.png " 
        alt = 'Interactive Campsite Map' 
        title = 'Hover on a tent to see its info'
        useMap="#Campsite-map" >
-->