
.products{
    max-width: 350px;
    padding: 72px 54px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    row-gap: 20px;
    display: flexbox;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 5px 10px 5px white;
}
.page-title {
    text-align: center;
}


.card {
    margin-top: 16px;
    align-items: center;
    align-self: center;
    padding: 20px;
    text-align: center;
    display: flex;
}

.campsite-map{
    border-radius: 12px;
    overflow: hidden;
    align-self: center;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    background-image: url(../../assets/campsite-map.png);
    background-size: cover;
    width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    outline: black outset 3px;
}

.map-card {
    align-items: center;
    align-self: center;
    padding: 50%;
}

.image1 {
    position: absolute;
    background-image: url(../../assets/tent-icon.png);
    background-size: cover;
    object-fit:cover;
    top: 100px;
    height: 80px;
    width: 80px;
    transform: translate(-50%, -50%);
  }

.image1:hover {
    background-image: url(../../assets/tent-icon-hover.png);
}

  .possibleimage {
    background-image: url(../../assets/tent-icon-temporary.png);
    background-size: cover;
    object-fit:cover;
    position: absolute;
    top: 100px;
    height: 80px;
    width: 80px;
    transform: translate(-50%, -50%);
  }



.buttons{
    margin-top: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    
}

button {
    margin-top:30px;
}

.horizontal-display {
    display: flex;
    justify-content: space-between;
}

.text-block {
    display: inline;
    font-size: 24px;
}

.campsite-name {
    max-width: 65%;
}

.detail-text {
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
}

.make-reservation-button {
    margin-top: 30px;
}