<div class = 'card'> 
    <div class = 'campsite-map'>
        <li *ngFor="let product of products$ | async">
            <img class="image1" [ngStyle]="{'left.px': product.x, 'top.px': product.y }" src="../../assets/tent-icon.png" routerLink="/detail/{{product.id}}"
            title="Campsite Name: {{product.name}} Click for more details" />
        </li>
    </div>

</div> 



<!--
            <img class ='fit-map' src="../assets/campsite-map.png " 
        alt = 'Interactive Campsite Map' 
        title = 'Hover on a tent to see its info'
        useMap="#Campsite-map" >
-->