<div class = "nav-bar">
  <a class = "title">{{title}}</a>
  <nav class = "button-box">
    <a class = "nav-button" routerLink="/home">Home</a>
    <a *ngIf="loginInfo.loggedIn && !isAdmin()" class = "nav-button" routerLink="/cart">Cart</a>
    <a *ngIf="loginInfo.loggedIn && !isAdmin()" class = "nav-button" routerLink="/reservations">Reservation</a>
    <button *ngIf="!loginInfo.loggedIn" class = "login-button" routerLink="/login">Login</button>
    <button *ngIf="loginInfo.loggedIn"  class = "login-button" (click)="logout()">Logout</button>
  </nav>
</div>
<router-outlet></router-outlet>
