/* Application-wide Styles */
input {
  padding: .5rem;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  display: block;
  background-color: #D9D9D9;
  outline-style: none;
  margin-top: 20px;
  font-size: 20px;

  border-radius: 6px;
  border:none;
  outline-width: 0;
}
input:focus {
  outline: #3E602E auto 10px;
}

h1 {
  color: #435848;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
  }
  h2 {
    font-size: 36px;
    font-family: Helvetica, sans-serif;
    color: #435848;
    text-align: left;
    margin: 0px;
}
  button {
    background-color: #3E602E;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    color: white;
    margin-top: 10px;

    border-radius: 6px;
    border:none;
    outline-width: 0;
}
.title {
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 9px;
  text-decoration: none;
  color: #919993;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.button-box {
  max-width: 160px;
}
.nav-button {
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 9px;
  text-decoration: none;
  color: #919993;
}
  button:hover {
    background-color: #5b8849;
  }

.alert{
  padding: 10px;
  text-align: center;
  font-weight: medium;
  font-size: 14px;
  color: #825d56;
  background-color:#e7d0d0;;
  margin-top: 30px;
  border-radius: 8px;

}
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }