<div class="card search-card">

  <div class = "search-card-element">
    <h2 class = "page-title"> Shopping Cart</h2>
  </div>
    <li *ngFor="let reservation of reservations">
      <app-reservation-detail [reservation] = "reservation"> </app-reservation-detail>
    </li>
  <div class = "search-card-element">
    <div class = "horizontal-display">
      <h2 class = "text-block">Total</h2>
      <h2 class = "text-block">${{calculateTotalPrice()}}  </h2>
    </div>
    <button class = "purchase-button" (click) = "purchase()">Make Payment</button>
  </div>

</div>

