

<div class="card search-card">

    <div class = "search-card-element">
      <h2 class = "page-title"> Browse Campsites</h2>
      <input #searchBox id="search-box" placeholder="Search" (input)="search(searchBox.value)" />
      </div>
        <li *ngFor="let product of products$ | async">
          <button class = "list-element" *ngIf="!this.isAdmin()" [class.selected]="product === selectedProduct" routerLink="/detail/{{product.id}}">
            <span class="name">{{product.name}}</span>
          </button>
          <button class = "list-element" *ngIf="this.isAdmin()" [class.selected]="product === selectedProduct" routerLink="/detail/{{product.id}}">
            <span class="name">{{product.name}}</span>
          </button>
        </li>
      <div>
    </div>

  </div>

<app-campsite-map></app-campsite-map>

  <div *ngIf="this.isAdmin()" class = "card">
    <h2>Create New Campsite</h2>
      <div>
            <div 
              *ngIf="errorMessage!=''"
              class = "alert">
              {{errorMessage}}
            </div>
      <input id="Campsite-name" #NewCampsiteName placeholder="Campsite name"/>
      <input id="Campsite-rate" #NewCampsiteRate placeholder="Campsite Rate">
      <input id="Campsite-coord" #NewCampsitexcoord placeholder="Campsite X coordinate">
      <input id="Campsite-coord" #NewCampsiteycoord placeholder="Campsite Y coordinate">
      <button class="make-campsite-button" type="Button" (click)="createProduct(NewCampsiteName.value, NewCampsiteRate.value, NewCampsitexcoord.value, NewCampsiteycoord.value)">Create New Campsite</button>
    </div>
  </div>
  