<div class="card search-card">

  <div class="search-card-element">
    <h2 class="page-title"> Browse Campsites</h2>
    <input #searchBox id="search-box" placeholder="Search" (input)="search(searchBox.value)" />
  </div>
  <li *ngFor="let product of products$ | async">
    <button class="list-element" [class.selected]="product === selectedProduct"
      routerLink="/detail/{{product.id}}">
      <div class = "horizontal-display">
        <h2 class = "text-block"> {{product.name}}</h2>
        <h2 class = "text-block">${{product.rate}} / night  </h2>
    </div>
    </button>
  </li>
  <div class="search-card-element map-container">
    <app-campsite-map></app-campsite-map>
  </div>

</div>


<div *ngIf="this.isAdmin() && this.isLoggedIn()" class="card">
  <h2>Create New Campsite</h2>
  <div>
    <div *ngIf="errorMessage!=''" class="alert">
      {{errorMessage}}
    </div>
    <input id="Campsite-name" #NewCampsiteName placeholder="Campsite name" />
    <input id="Campsite-rate" #NewCampsiteRate placeholder="Campsite Rate">
    <span>X Coordinate: {{this.getPossiblex()}}</span>
    <br>
    <span>Y Coordinate: {{this.getPossibley()}}</span>

    <button class="make-campsite-button" type="Button"
      (click)="createProduct(NewCampsiteName.value, NewCampsiteRate.value, this.getPossiblex(), this.getPossibley())">Create
      New Campsite</button>
  </div>
</div>