<html>
    <div class = "background">
        <div class = "card">
            <h2>Login</h2>
            <div
                *ngIf="errorMessage!=''"
                class = "alert">
                {{errorMessage}}
            </div>
            <form #loginForm = 'ngForm' ng-submit = "onLogin()">
                <input type="text" 
                    class="form-control" 
                    id="username" 
                    required
                    placeholder="Username"
                    [(ngModel)]="model.username" name="username">
                <input type="password" 
                    class="form-control" 
                    id="password" 
                    required
                    placeholder="Password"
                    [(ngModel)]="model.password" name="password">
                <div class = "buttons">
                    <button [disabled] = "!loginForm.valid || loggedIn" type="button" value="login"  (click)="onLogin(loginForm)">Log me in</button>
                    <button [disabled] = "!loginForm.valid || loggedIn" type="button" value="signup-button" (click)="onSignup(loginForm)">Sign me up</button>
                </div>
            </form>
        </div>
    </div>
</html>


